.Rhistory
.Rproj.*
*.hpp
*.o
*.so
*.hpp
inst/doc
inst/stan_files/eDNA_lm
inst/stan_files/eDNA_lmer
inst/stan_files/eDNA_lm_zinf
inst/stan_files/eDNA_lmer_zinf
inst/stan_files/eDNA_omni
inst/stan_files/eDNA_sim_omni
doc
Meta
.Rproj.user
